body{
    /* text-align: center; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 
a{
    font-size: medium;
}

ul, ol{
    text-align: left;
    font-weight: 400;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
